<p-panel header="Pipes no tan comunes" class="p-1">
  <p>Pipes incluidos en Angular - Usualmente en el Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <!-- i18nSelect Pipe -->
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saludo {{ name }}, es un place
        {{ gender | i18nSelect : invitationMap }} a nuestro evento
      </p>
      <p-button (click)="changeClient()" label="Cambiar persona"></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <!-- i18nPlural Pipe -->
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Actualmente {{ clients.length | i18nPlural : clientsMap }}</p>
      <p-button (click)="deletClient()" label="Borrar cliente"></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <!-- i18nSlice Pipe -->
    <p-fieldset legend="i18nSlice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre> {{ clients }} </pre>
      <b>slice 0:2</b>
      <pre> {{ clients | slice : 0 : 2 }}</pre>
      <b>slice 1:2</b>
      <pre> {{ clients | slice : 1 : 2 }}</pre>
      <b>slice 1:3</b>
      <pre> {{ clients | slice : 1 : 3 }}</pre>
      <b>slice 3:4</b>
      <pre> {{ clients | slice : 3 : 4 }}</pre>
      <b>slice 0:-2</b>
      <pre> {{ clients | slice : 0 : -2 }}</pre>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <!-- i18Json Pipe -->
    <p-fieldset legend="i18Json Pipe" [toggleable]="true">
      <pre>
        {{ person | json }}
      </pre>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <!-- i18nKeyValue Pipe
      funciona para barrer las propiedades como si fuera un arreglo -->
    <p-fieldset legend="i18nKeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{ item.key | titlecase }} :</b> {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <!-- i18nAsync Pipe
    funciona como Observable y comienza a emitir valores
  cada cierto tiempo, dependerá del tiempo que se le especifique -->
    <p-fieldset legend="i18nAsync Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservableTimer | async)">Resolviendo Observable</pre>
      <pre>{{ myObservableTimer | async }}</pre>

      <pre *ngIf="!(promiseValue | async)">Resolviendo promesa</pre>
      <pre>{{ promiseValue | async }}</pre>
    </p-fieldset>
  </div>
</div>
